<!-- Header-BP -->

<header class="header" id="site-header">


  <div class="page-title">
    <h6>{{title | titlecase}}</h6>
  </div>

  <div class="header-content-wrapper">
    <form class="search-bar w-search notification-list friend-requests">
      <div class="form-group with-button">
        <input class="form-control " #searchInput (input)="onSearchChange($event)" type="text"
               placeholder="Search here people or pages...">
        <button>
          <svg class="olymp-magnifying-glass-icon">
            <use xlink:href="#olymp-magnifying-glass-icon"></use>
          </svg>
        </button>
      </div>
    </form>


    <div class="control-block">

      <div class="control-icon more has-items">
        <svg class="olymp-happy-face-icon">
          <use xlink:href="#olymp-happy-face-icon"></use>
        </svg>
        <div class="label-avatar bg-blue">{{loadedRoomRequests?.length}}</div>

        <div class="more-dropdown more-with-triangle triangle-top-center" style="padding-bottom: 15px">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">Demandes de participation aux groupes de discussion</h6>

          </div>

          <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list friend-requests">

              <li *ngFor="let rr of loadedRoomRequests" [id]="'request'+rr?.id" #requestRow
                  [ngClass]="requestRow?.id ==='request'+acceptedRequest?.id? 'animated bounceOutUp':''">
                <div *ngIf="rr?.user.image" class="author-thumb">
                  <img [src]="rr?.user?.image" width="34" height="34" alt="author">
                </div>
                <div class="notification-event">
                  <a href="#" class="h6 notification-friend">{{rr?.user?.firstName}} {{rr?.user?.lastName}}</a>
                  <span class="chat-message-item">a demandé de rejoindre <b>{{rr?.room?.name| titlecase}}</b></span>
                </div>
                <span class="notification-icon">
									<a (click)="rejectRequest(rr)" class="accept-request request-del">
											<svg><use xlink:href="#olymp-little-delete"></use></svg>

									</a>
									<a (click)="acceptRequest(rr)" class="accept-request">
                <svg><use xlink:href="#olymp-dropdown-arrow-icon"></use></svg>

									</a>

								</span>

              </li>
              <li *ngIf="loadedRoomRequests?.length===0">
                <div class="notification-event">

                  <span class="chat-message-item">Vous avez 0 demandes</span>
                </div>
              </li>
            </ul>
          </div>


        </div>
      </div>


      <div class="control-icon more has-items">
        <svg class="olymp-thunder-icon">
          <use xlink:href="#olymp-thunder-icon"></use>
        </svg>

        <div class="label-avatar bg-primary">8</div>

        <div class="more-dropdown more-with-triangle triangle-top-center">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">Notifications</h6>
            <a href="#">Mark all as read</a>
            <a href="#">Settings</a>
          </div>

          <div class="mCustomScrollbar" data-mcs-theme="dark">
            <ul class="notification-list">
              <li>
                <div class="author-thumb">
                  <img src="assets/img/avatar62-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#"
                                                                                                                class="notification-link">profile
                    status</a>.
                  </div>
                  <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                </div>
                <span class="notification-icon">
										<svg class="olymp-comments-post-icon"><use xlink:href="#olymp-comments-post-icon"></use></svg>
									</span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="#olymp-three-dots-icon"></use>
                  </svg>
                  <svg class="olymp-little-delete">
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </div>
              </li>

              <li class="un-read">
                <div class="author-thumb">
                  <img src="assets/img/avatar63-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div>You and <a href="#" class="h6 notification-friend">Nicholas Grissom</a> just became friends.
                    Write on <a href="#" class="notification-link">his wall</a>.
                  </div>
                  <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
                </div>
                <span class="notification-icon">
										<svg class="olymp-happy-face-icon"><use xlink:href="#olymp-happy-face-icon"></use></svg>
									</span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="#olymp-three-dots-icon"></use>
                  </svg>
                  <svg class="olymp-little-delete">
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </div>
              </li>

              <li class="with-comment-photo">
                <div class="author-thumb">
                  <img src="assets/img/avatar64-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div><a href="#" class="h6 notification-friend">Sarah Hetfield</a> commented on your <a href="#"
                                                                                                          class="notification-link">photo</a>.
                  </div>
                  <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
                </div>
                <span class="notification-icon">
										<svg class="olymp-comments-post-icon"><use xlink:href="#olymp-comments-post-icon"></use></svg>
									</span>

                <div class="comment-photo">
                  <img src="assets/img/comment-photo1.jpg" alt="photo">
                  <span>“She looks incredible in that outfit! We should see each...”</span>
                </div>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="#olymp-three-dots-icon"></use>
                  </svg>
                  <svg class="olymp-little-delete">
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </div>
              </li>

              <li>
                <div class="author-thumb">
                  <img src="assets/img/avatar65-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div><a href="#" class="h6 notification-friend">Green Goo Rock</a> invited you to attend to his event
                    Goo in <a href="#" class="notification-link">Gotham Bar</a>.
                  </div>
                  <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
                </div>
                <span class="notification-icon">
										<svg class="olymp-happy-face-icon"><use xlink:href="#olymp-happy-face-icon"></use></svg>
									</span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="#olymp-three-dots-icon"></use>
                  </svg>
                  <svg class="olymp-little-delete">
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </div>
              </li>

              <li>
                <div class="author-thumb">
                  <img src="assets/img/avatar66-sm.jpg" alt="author">
                </div>
                <div class="notification-event">
                  <div><a href="#" class="h6 notification-friend">James Summers</a> commented on your new <a href="#"
                                                                                                             class="notification-link">profile
                    status</a>.
                  </div>
                  <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
                </div>
                <span class="notification-icon">
										<svg class="olymp-heart-icon"><use xlink:href="#olymp-heart-icon"></use></svg>
									</span>

                <div class="more">
                  <svg class="olymp-three-dots-icon">
                    <use xlink:href="#olymp-three-dots-icon"></use>
                  </svg>
                  <svg class="olymp-little-delete">
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </div>
              </li>
            </ul>
          </div>

          <a href="#" class="view-all bg-primary">View All Notifications</a>
        </div>
      </div>

      <div class="author-page author vcard inline-items more">
        <div *ngIf="loggedUser?.image" class="author-thumb fade-in">
          <img *ngIf="loggedUser?.image" alt="author" [src]="loggedUser?.image" width="36" height="36" class="avatar">
          <span class="icon-status online"></span>
          <div class="more-dropdown more-with-triangle">
            <div class="mCustomScrollbar" data-mcs-theme="dark">
              <div class="ui-block-title ui-block-title-small">
                <h6 class="title">Your Account</h6>
              </div>

              <ul class="account-settings">
                <li>
                  <a (click)="profile()">

                    <svg class="olymp-menu-icon">
                      <use xlink:href="#olymp-menu-icon"></use>
                    </svg>

                    <span>Profile</span>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <svg class="olymp-logout-icon">
                      <use xlink:href="#olymp-logout-icon"></use>
                    </svg>

                    <span>Log Out</span>
                  </a>
                </li>
              </ul>


            </div>

          </div>
        </div>
        <a href="02-ProfilePage.html" class="author-name fn">
          <div class="author-title">
            <fa name="cog" animation="spin"></fa>

            {{loggedUser?.firstName}} {{loggedUser?.lastName}}
            <svg class="olymp-dropdown-arrow-icon">
              <use xlink:href="#olymp-dropdown-arrow-icon"></use>
            </svg>
          </div>
          <span class="author-subtitle">Intern</span>
        </a>
      </div>

    </div>
  </div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->


<!-- ... end Responsive Header-BP -->
<div class="header-spacer-small header-spacer-small"></div>

<!-- Main Header Events -->

