
<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

    <a href="#" class="logo">
      <div class="img-wrap">
        <img src="assets/img/logo.png" alt="Olympus">
      </div>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="left-menu">
        <li>
          <a href="#" class="js-sidebar-open">
            <svg class="olymp-menu-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="OPEN MENU"><use xlink:href="#olymp-menu-icon"></use></svg>
          </a>
        </li>
        <li>
          <a [routerLink]="['/topic']" routerLinkActive="selected scale-up">
            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                 data-original-title="Topics">
              <use xlink:href="#olymp-newsfeed-icon"></use>
            </svg>
          </a>
        </li>

        <li>

        <a [routerLink]="['/rooms']" routerLinkActive="selected scale-up">
            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                 data-original-title="Groupes de discussion">
              <use xlink:href="#olymp-happy-faces-icon"></use>
            </svg>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
    <a class="logo">
      <div class="img-wrap">
        <img src="assets/img/logo.png" alt="Olympus">
      </div>
      <div class="title-block">
        <h6 class="logo-title">Espace Collaborative</h6>
      </div>
    </a>

    <div class="mCustomScrollbar position-relative full-height" data-mcs-theme="dark">
      <ul class="left-menu">
        <li>
          <a href="#" class="js-sidebar-open">
            <svg class="olymp-close-icon left-menu-icon">
              <use xlink:href="#olymp-close-icon"></use>
            </svg>
            <span class="left-menu-title">Fermer le menu</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/topic']" routerLinkActive="selected scale-up-open">
            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                 data-original-title="Topics">
              <use xlink:href="#olymp-newsfeed-icon"></use>
            </svg>
            <span class="left-menu-title">Topics</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/rooms']" routerLinkActive="selected scale-up-open">
            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right"
                 data-original-title="Groupes de discussion">
              <use xlink:href="#olymp-happy-faces-icon"></use>
            </svg>
            <span class="left-menu-title">Groupes de discussion</span>
          </a>
        </li>

      </ul>

      <div class="profile-completion position-absolute bottom-0 ">
        <div class="position-absolute author-thumb">
          <img *ngIf="loadedBages[loggedUser?.badge?.id]?.icon_s" style="border-radius: 0" loading="lazy"
               [src]="backUrl+'/'+ loadedBages[loggedUser?.badge?.id]?.icon_s"
               alt="author">
        </div>

        <div class="skills-item padding-l-45 ">

          <div class="skills-item-info">
            <span class="skills-item-title"><b>{{loadedBages[loggedUser?.badge?.id]?.name}}</b></span>

          </div>
          <div class="skills-item-meter">

            <span class="skills-item-meter-active bg-primary skills-animate"
                  [ngStyle]="{'width':loadedStats?.progress+'%'}" style="opacity: 1;"></span>

          </div>
        </div>

        <span class="full-width">{{loadedBages[loggedUser?.badge?.id]?.description}} pour atteindre ce badge</span>

      </div>
    </div>
  </div>
</div>

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

  <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
    <a href="#" class="logo js-sidebar-open">
      <img src="assets/img/logo.png" alt="Olympus">
    </a>

  </div>


</div>

