.selected {
  color: #ff5e3a;

}

.selected:hover {
  color: #ff5e3a;
}

.selected svg {
  fill: #ff5e3a;
}

.scale-up {
  -webkit-animation: 600ms ease 0s normal forwards 1;
  animation: 600ms ease 0s normal forwards 1;
  transform: scale(1.3);
}

.scale-up-open {
  -webkit-animation: 600ms ease 0s normal forwards 1;
  animation: 600ms ease 0s normal forwards 1;
  transform: scale(1.1);
}


.bottom-0 {
  bottom: 0;
}

.width-145 {
  width: 145%;
}

.padding-l-45 {
  padding-left: 45px;
}

