@import "~@ng-select/ng-select/themes/default.theme.css";
.hover-color:hover {
  background-color: #005a99;
  cursor: pointer;
}

.img-user {
  height: 32px;
  width: 32px;
}

.margin-t-10 {
  margin-top: 10px;
}

.height-50 {
  height: 50px;
}

/* ---------- loader ---------------*/
.flexbox > div {
  left: 0;
  top: 0;
}

.mesh-loader .circle {
  background: #38a9ff;
}

/* --- image room owner  -------- */
.room-owner {
  width: 30px;
  height: 30px;
  z-index: 1;
  top: 127px;
  left: 34px;

  position: relative;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
}


.hover-blocked:hover {
  cursor: not-allowed;
}

