<input type="file" (change)="uploadFile($event)">

<div class="skills-item" style="width: 25%">
  <div class="skills-item-meter">

    <span class="skills-item-meter-active bg-primary skills-animate"
          [ngStyle]="{'width':uploadProgress+'%'}"
          style=" opacity: 1;">{{uploadProgress}}%</span>

  </div>
</div>


<div class="ui-block features-video" style="width: 30%">
  <div class="video-player">
    <img src="assets/img/video9.jpg" alt="photo">
    <a
      href="http://localhost:9000/documents/8324305f-200f-4c9a-9b2b-20822e637ccc-EspaceCollaborative-GoogleChrome2020-08-1919-06-00.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=espace_collaborative%2F20200830%2F%2Fs3%2Faws4_request&X-Amz-Date=20200830T190539Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=50d2c0e72c24485f108f67869298ec071abcfa3371465668abc2f61c9e4da101"
      class="play-video">
      <svg class="olymp-play-icon">
        <use xlink:href="#olymp-play-icon"></use>
      </svg>
    </a>

    <div class="video-content">
      <div class="h4 title">Rock Garden Festival - Day 3</div>
      <time class="published" datetime="2017-03-24T18:18">12:06</time>
    </div>

    <div class="overlay"></div>
  </div>

</div>


<div class='player-container'>
  <div class='player'>
    <video id='video'
           src='https://player.vimeo.com/external/271851475.sd.mp4?s=1a5c9b2541b420c133ded968b7c042fda26a8c0e&profile_id=165'
           playsinline></video>
    <div class='play-btn-big'></div>
    <div class='controls'>
      <div class="time"><span class="time-current"></span><span class="time-total"></span></div>
      <div class='progress'>
        <div class='progress-filled'></div>
      </div>
      <div class='controls-main'>
        <div class='controls-left'>
          <div class='volume'>
            <div class='volume-btn loud'>
              <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.75497 17.6928H2C0.89543 17.6928 0 16.7973 0 15.6928V8.30611C0 7.20152 0.895431 6.30611 2 6.30611H6.75504L13.9555 0.237289C14.6058 -0.310807 15.6 0.151473 15.6 1.00191V22.997C15.6 23.8475 14.6058 24.3098 13.9555 23.7617L6.75497 17.6928Z"
                  transform="translate(0 0.000518799)" fill="white"/>
                <path id="volume-low"
                      d="M0 9.87787C2.87188 9.87787 5.2 7.66663 5.2 4.93893C5.2 2.21124 2.87188 0 0 0V2C1.86563 2 3.2 3.41162 3.2 4.93893C3.2 6.46625 1.86563 7.87787 0 7.87787V9.87787Z"
                      transform="translate(17.3333 7.44955)" fill="white"/>

                <path id="volume-high"
                      d="M0 16.4631C4.78647 16.4631 8.66667 12.7777 8.66667 8.23157C8.66667 3.68539 4.78647 0 0 0V2C3.78022 2 6.66667 4.88577 6.66667 8.23157C6.66667 11.5773 3.78022 14.4631 0 14.4631V16.4631Z"
                      transform="translate(17.3333 4.15689)" fill="white"/>
                <path id="volume-off"
                      d="M1.22565 0L0 1.16412L3.06413 4.0744L0 6.98471L1.22565 8.14883L4.28978 5.23853L7.35391 8.14883L8.57956 6.98471L5.51544 4.0744L8.57956 1.16412L7.35391 0L4.28978 2.91031L1.22565 0Z"
                      transform="translate(17.3769 8.31403)" fill="white"/>
              </svg>

            </div>
            <div class='volume-slider'>
              <div class='volume-filled'></div>
            </div>
          </div>
        </div>
        <div class='play-btn paused'></div>
        <div class="controls-right">
          <div class='speed'>
            <ul class='speed-list'>
              <li class='speed-item' data-speed='0.5'>0.5x</li>
              <li class='speed-item' data-speed='0.75'>0.75x</li>
              <li class='speed-item active' data-speed='1'>1x</li>
              <li class='speed-item' data-speed='1.5'>1.5x</li>
              <li class='speed-item' data-speed='2'>2x</li>
            </ul>
          </div>
          <div class='fullscreen'>
            <svg width="30" height="22" viewBox="0 0 30 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 0V-1.5H-1.5V0H0ZM0 18H-1.5V19.5H0V18ZM26 18V19.5H27.5V18H26ZM26 0H27.5V-1.5H26V0ZM1.5 6.54545V0H-1.5V6.54545H1.5ZM0 1.5H10.1111V-1.5H0V1.5ZM-1.5 11.4545V18H1.5V11.4545H-1.5ZM0 19.5H10.1111V16.5H0V19.5ZM24.5 11.4545V18H27.5V11.4545H24.5ZM26 16.5H15.8889V19.5H26V16.5ZM27.5 6.54545V0H24.5V6.54545H27.5ZM26 -1.5H15.8889V1.5H26V-1.5Z"
                transform="translate(2 2)" fill="white"/>
            </svg>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

