<div class="container">

  <div class="row">
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="assets/img/top-header7.jpg" class="cover-photo" alt="nature">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                <ul class="profile-menu">
                  <li>
                    <div class="user-stats">
                      <div class="user-stat big">

                        <p class="margin-b-8  user-stat-title">{{myStats?.countTopics}}</p>
                        <p class="user-stat-text">Topics</p>

                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="user-stats">
                      <div class="user-stat big">

                        <p class="margin-b-8 user-stat-title ">{{myStats?.countReactions}}</p>
                        <p class="user-stat-text">Reaction</p>

                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="user-stats">
                      <div class="user-stat big">

                        <p class="margin-b-8  user-stat-title">{{myStats?.countReplies}}</p>
                        <p class="user-stat-text">Commentaires</p>

                      </div>
                    </div>
                  </li>
                  <li>

                  </li>
                </ul>
              </div>
              <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                <ul class="profile-menu">
                  <li>
                    <a [ngStyle]="{'color': roomsSelected?.length>1 ? '#ff5e3a' : 'inherit'}" [ngClass]="roomsSelected"
                       (click)="displayRooms()">Groupes de discussions</a>
                  </li>
                  <li>
                    <a [ngStyle]="{'color': topicsSelected?.length>1 ? '#ff5e3a' : 'inherit'}"
                       [ngClass]="topicsSelected"
                       (click)="displayTopics()">Topics</a>
                  </li>

                </ul>
              </div>
            </div>


          </div>
          <div class="top-header-author">
            <a href="02-ProfilePage.html" class="author-thumb">
              <img *ngIf="loggedUser" [src]="loggedUser?.image" class="profile-image" alt="author">
            </a>
            <div class="author-content">
              <a href="02-ProfilePage.html"
                 class="h4 author-name">{{loggedUser?.firstName | titlecase}} {{loggedUser.lastName | titlecase}}</a>
              <div class="country">San Francisco, CA</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Top Header-Profile -->
<div class="container">
  <div class="row">

    <!-- Main Content -->
    <!-- Left Sidebar -->

    <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Informations personelles</h6>
        </div>
        <div class="ui-block-content">


          <!-- W-Personal-Info -->

          <ul class="widget w-personal-info">

            <li>
              <span class="title">Nom: </span>
              <span class="text">{{loggedUser?.firstName}}</span>
            </li>
            <li>
              <span class="title">Prenom:</span>
              <span class="text">{{loggedUser?.lastName}}</span>
            </li>
            <li>
              <span class="title">Occupation:</span>
              <span class="text">Stagiaire</span>
            </li>
            <li>
              <span class="title">Rejoint:</span>
              <span class="text">April 31st, 2014</span>
            </li>

            <li>
              <span class="title">Email:</span>
              <a href="#" class="text">{{loggedUser?.email}}</a>
            </li>

            <li>
              <span class="title">Phone Number:</span>
              <span class="text">(044) 555 - 4369 - 8957</span>
            </li>

          </ul>

          <!-- ... end W-Personal-Info -->

        </div>
      </div>


      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">James’s Badges</h6>
        </div>
        <div class="ui-block-content">

          <!-- W-Badges -->

          <ul class="widget w-badges">
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge1.png" alt="author">
                <div class="label-avatar bg-primary">2</div>
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge4.png" alt="author">
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge3.png" alt="author">
                <div class="label-avatar bg-blue">4</div>
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge6.png" alt="author">
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge11.png" alt="author">
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge8.png" alt="author">
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge10.png" alt="author">
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge13.png" alt="author">
                <div class="label-avatar bg-breez">2</div>
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge7.png" alt="author">
              </a>
            </li>
            <li>
              <a href="24-CommunityBadges.html">
                <img src="assets/img/badge12.png" alt="author">
              </a>
            </li>
          </ul>

          <!--.. end W-Badges -->
        </div>
      </div>


    </div>

    <!-- ... end Left Sidebar -->


    <div class=" col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
      <div class="ui-block responsive-flex">
        <div class="ui-block-title">


          <form class="w-search search-bar-profile">
            <div class="form-group with-button">
              <input #searchInput (input)="searchBar($event)" class="form-control" type="text"
                     [placeholder]="searchPlaceHolder">
              <button>
                <svg class="olymp-magnifying-glass-icon">
                  <use xlink:href="#olymp-magnifying-glass-icon"></use>
                </svg>
              </button>
            </div>
          </form>
          <div class="menu-container">
            <input type="radio" id="f" (change)="firstNav()" checked name="a">
            <label for="f">{{firstNavName}}</label>
            <input (change)="secondNav()" id="s" name="a" type="radio">
            <label for="s">{{secondNavName}}</label>

            <div class="menu-border"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <!--my Rooms-->
        <div [ngClass]="roomsClass">


          <div *ngFor="let r of myRooms" [id]="'room'+r?.id" #myRoomDiv
               [ngClass]="myRoomDiv.id === 'room'+leftRoom?.id? 'col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 animated bounceOutUp' : 'col col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12'">
            <div class="ui-block" data-mh="friend-groups-item">

              <!-- Friend Item -->

              <div class="friend-item friend-groups">

                <div class="friend-item-content">

                  <div class="more">
                    <svg class="olymp-three-dots-icon">
                      <use xlink:href="#olymp-three-dots-icon"></use>
                    </svg>
                    <ul class="more-dropdown">
                      <li>
                        <a href="#" data-target="#delete-modal" data-toggle="modal">Supprimer le groupe</a>
                      </li>
                      <li>
                        <a (click)="leavRoom(r)" style="color: #515365">Quitter le groupe</a>
                      </li>

                    </ul>
                  </div>
                  <div class="friend-avatar">
                    <div class="author-thumb">
                      <ngx-avatar size="120" [name]="r?.name"></ngx-avatar>
                    </div>
                    <div class="author-content">
                      <a href="#" class="h5 author-name">{{r?.name |titlecase}}</a>
                      <div class="country">{{r?.users?.length}} Utilisateurs dans le groupe</div>
                    </div>
                  </div>

                  <ul class="friends-harmonic">
                    <li *ngFor="let u of r?.users">
                      <a href="#">
                        <img [src]="u?.image" alt="friend">
                      </a>
                    </li>

                    <li>
                      <a data-toggle="modal" data-target="#modal-list-users"
                         *ngIf="r?.users?.length>6" href="#" class="all-users bg-blue">+{{r?.users?.length - 6}}</a>
                    </li>
                  </ul>


                </div>
              </div>

              <!-- ... end Friend Item -->      </div>
          </div>
          <div *ngIf="myRooms?.length===0" class="ui-block no-results-container container ">
            <div class="row">
              <div class="col col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                <img src="assets/img/no-results.png" alt="error_500">
              </div>
              <div class="col col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                  <h2 class=" h2 page-500-sup-title">Oops</h2>
                  <h3 class="h3 heading-title">Pas de groupe trouvé</h3>
                </div>
                <a class="btn btn-primary btn-lg" style="color: white" [routerLink]="['/rooms']">Rejoindre un
                  groupe </a>
              </div>
            </div>
          </div>


        </div>
        <!-- end My rooms-->
      </div>


      <!-- My Topics-->
      <div [ngClass]="topicsClass">

        <!-- Replies -->
        <table [ngClass]="myCommentsClass">
          <thead>

          <tr>

            <th class="forum">
              Date
            </th>

            <th class="topics">
              Topic
            </th>

            <th class="posts">
              Commentaire
            </th>

            <th class="freshness">
              Reactions
            </th>
            <th class="freshness" style="padding-right: 0">
              Actions
            </th>

          </tr>

          </thead>
          <tbody>

          <tr *ngFor="let r of myReplies" [id]="'reply'+r?.id" #myReplyRow
              [ngClass]="myReplyRow.id === 'reply'+deletedReply?.id ? 'event-item animated bounceOutUp': 'event-item'">

            <td class="padding-15-12 upcoming">
              <div class="date-event">

                <svg class="olymp-small-calendar-icon">
                  <use xlink:href="#olymp-small-calendar-icon"></use>
                </svg>

                <span class="day">{{r?.timestamp * 1000 | date:'dd'}}</span>
                <span class="month">{{r?.timestamp * 1000 | date:'MMM'}}</span>
              </div>
            </td>
            <td class="padding-15-12 author">
              <div class="event-author inline-items">
                <div class="author-date">
                  <a href="#" class="author-name h6">{{r?.topic.title.substr(0, 60) | titlecase}}</a>
                  <time class="published" datetime="2017-03-24T18:18">{{r?.timestamp * 1000 | date}}</time>
                </div>
              </div>
            </td>

            <td class="padding-15-12 description">
              <p class="description">{{r?.reply.substr(0, 80)}}<span *ngIf="r?.reply?.length>80">...</span></p>

            </td>
            <td class="padding-15-12 users">
              <ul class="friends-harmonic">
                <li data-toggle="tooltip" data-placement="top" [attr.title]="u?.firstName+' '+u?.lastName"
                    *ngFor=" let u of r?.users | slice :0 : 2">
                  <a href="#">
                    <img [src]="u?.image" alt="friend">
                  </a>
                </li>

                <li *ngIf="r?.users?.length>2">
                  <a href="#" class="all-users bg-breez">+{{r?.users?.length - 2}}</a>
                </li>
                <li *ngIf="r?.users?.length==0">
                  <span>Aucune reaction</span>
                </li>

                <li *ngIf="r?.users?.length>1" class="with-text">Ont réagi
                </li>
                <li *ngIf="r?.users?.length==1" class="with-text">a réagi
                </li>
              </ul>
            </td>
            <td class=" padding-15-12 location " style="padding-right: 0">
              <div class="place inline-items">

                <a data-toggle="modal" (click)="deleteModal('REPLY', r)" data-target="#delete-modal"
                   class="post-add-icon inline-items padding-5-15">
                  <svg>
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </a>


              </div>

            </td>


          </tr>

          <tr *ngIf="myReplies?.length === 0">
            <td colspan="5">
              <div class="container ">
                <div class="row">
                  <div class="col col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="assets/img/no-results.png" alt="error_500">
                  </div>
                  <div class="col col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                      <h2 class=" h2 page-500-sup-title">Oops</h2>
                      <h3 class="h3 heading-title">Vous n'avez pas de commentaire</h3>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
        <!-- .. end Replies -->

        <!-- Post -->
        <table [ngClass]="myTopicsClass">
          <thead>

          <tr>

            <th class="forum">
              Date
            </th>

            <th class="topics">
              Titre
            </th>

            <th class="posts">
              Tags
            </th>

            <th class="freshness">
              Statistiques
            </th>
            <th class="freshness" style="padding-right: 0">
              Actions
            </th>

          </tr>

          </thead>
          <tbody>

          <tr *ngFor="let t of myTopics" [id]="'topic'+t?.id" #myTopicRow
              [ngClass]="myTopicRow.id === 'topic'+deletedTopic?.id ? 'event-item animated bounceOutUp': 'event-item'">

            <td class="padding-15-12 upcoming">
              <div class="date-event">

                <svg class="olymp-small-calendar-icon">
                  <use xlink:href="#olymp-small-calendar-icon"></use>
                </svg>

                <span class="day">{{t?.timestamp * 1000 | date:'dd'}}</span>
                <span class="month">{{t?.timestamp * 1000 | date:'MMM'}}</span>
              </div>
            </td>
            <td class="padding-15-12 author" style="width: 33%">
              <div class="event-author inline-items">
                <div class="author-date">
                  <a href="#" class="author-name h6">{{t?.title| titlecase}}</a>
                </div>
              </div>
            </td>

            <td class="padding-15-12 description">
              <ul class="tags-display ">
                <li *ngFor=" let tags of t?.tags | slice:0:2">
              <span class="tag-display tag-list  cursor-pointer">
                {{tags?.name}}
              </span>
                </li>
                <li *ngIf="t?.tags?.length>2">
              <span class="tag-display tag-list  cursor-pointer">
                + {{t?.tags.length - 2 }} autres
              </span>
                </li>


              </ul>
            </td>
            <td class="padding-15-12 users">
              <a
                class="post-add-icon inline-items padding-5-15">
                {{t?.countReplies}}
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="48" height="48"
                     viewBox="0 0 48 48"
                     style=" fill:#000000;">
                  <path fill="#FFF"
                        d="M5.93,25.041c0,0,8.06-11.041,18.004-11.041S41.93,25.041,41.93,25.041S33.879,36,23.934,36S5.93,25.041,5.93,25.041z"></path>
                  <path fill="#CFD8DC"
                        d="M23.934,14c9.945,0,17.996,11.041,17.996,11.041S33.879,36,23.934,36S5.93,25.041,5.93,25.041S13.989,14,23.934,14 M23.934,12C13.098,12,4.668,23.377,4.314,23.862L3.45,25.046l0.868,1.18C4.672,26.707,13.102,38,23.934,38c10.833,0,19.254-11.294,19.607-11.774l0.867-1.18l-0.862-1.183C43.192,23.378,34.771,12,23.934,12L23.934,12z"></path>
                  <path fill="#00ACC1"
                        d="M14.935,24.994c0-4.971,4.034-8.994,9-8.994c4.968,0,9,4.023,9,8.994c0,4.977-4.032,9.006-9,9.006C18.968,34,14.935,29.971,14.935,24.994z"></path>
                  <path fill="#006064"
                        d="M19.935,24.999c0-2.213,1.786-3.999,4-3.999c2.204,0,4,1.786,4,3.999c0,2.22-1.796,4.001-4,4.001C21.721,29,19.935,27.219,19.935,24.999z"></path>
                  <path fill="#90A4AE"
                        d="M5.959,25c0.524-0.7,8.369-10.96,17.975-10.96c9.605,0,17.442,10.259,17.966,10.959L46.857,25l-1.699-2.322c-0.379-0.517-9.387-12.638-21.224-12.638c-11.837,0-20.853,12.12-21.231,12.636L1,25H5.959z"></path>
                </svg>

              </a>
              <a style="padding-left: 0"
                 class="post-add-icon inline-items padding-5-15">
                {{t?.seen}}
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="48" height="48"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                  <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                     stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                     font-family="none" font-size="none" t
                     style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g>
                      <path
                        d="M143.33333,17.91667h-114.66667c-5.93758,0 -10.75,4.81242 -10.75,10.75v125.41667l32.25,-28.66667h93.16667c5.93758,0 10.75,-4.81242 10.75,-10.75v-86c0,-5.93758 -4.81242,-10.75 -10.75,-10.75z"
                        fill="#00acc1"></path>
                      <path
                        d="M53.75,64.5c-3.95804,0 -7.16667,3.20863 -7.16667,7.16667c0,3.95804 3.20863,7.16667 7.16667,7.16667c3.95804,0 7.16667,-3.20863 7.16667,-7.16667c0,-3.95804 -3.20863,-7.16667 -7.16667,-7.16667zM86,64.5c-3.95804,0 -7.16667,3.20863 -7.16667,7.16667c0,3.95804 3.20863,7.16667 7.16667,7.16667c3.95804,0 7.16667,-3.20863 7.16667,-7.16667c0,-3.95804 -3.20863,-7.16667 -7.16667,-7.16667zM118.25,64.5c-3.95804,0 -7.16667,3.20863 -7.16667,7.16667c0,3.95804 3.20863,7.16667 7.16667,7.16667c3.95804,0 7.16667,-3.20863 7.16667,-7.16667c0,-3.95804 -3.20863,-7.16667 -7.16667,-7.16667z"
                        fill="#ffffff"></path>
                    </g>
                  </g>
                </svg>
              </a>


            </td>
            <td class=" padding-15-12 location " style="padding-right: 0">
              <div class="place inline-items">

                <a data-toggle="modal" (click)="deleteModal('TOPIC', null,null,t)" data-target="#delete-modal"
                   class="post-add-icon inline-items padding-5-15">
                  <svg>
                    <use xlink:href="#olymp-little-delete"></use>
                  </svg>
                </a>


              </div>

            </td>


          </tr>
          <tr *ngIf="myTopics?.length === 0">
            <td colspan="5">
              <div class="container ">
                <div class="row">
                  <div class="col col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="assets/img/no-results.png" alt="error_500">
                  </div>
                  <div class="col col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                      <h2 class=" h2 page-500-sup-title">Oops</h2>
                      <h3 class="h3 heading-title">Vous n'avez crée aucun topic</h3>
                    </div>
                    <a class="btn btn-primary btn-lg" style="color: white" [routerLink]="['/topic']">Crée un topic </a>

                  </div>
                </div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
        <!-- .. end Post -->
      </div>
      <!-- end my topics-->


    </div>


    <!-- ... end Main Content -->


  </div>
</div>

<!-- Window-popup Edit Widget Blog Post -->
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation de la suppression</h5>
        <button type="button" style="padding: 0" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Veuillez confirmer la suppression du {{itemToDelete?.toLowerCase()}}</span>
      </div>
      <div class="modal-footer" style="padding: 15px 23px 5px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button *ngIf="itemToDelete==='TOPIC'" (click)="deleteTopic(topicToDelete)" type="button"
                class="btn btn-primary">Supprimer
        </button>
        <button *ngIf="itemToDelete==='ROOM'" (click)="deleteRoom(roomToDelete)" type="button" class="btn btn-primary">
          Supprimer
        </button>
        <button *ngIf="itemToDelete==='REPLY'" (click)="deleteReply(replyToDelete)" type="button"
                class="btn btn-primary">Supprimer
        </button>

      </div>
    </div>
  </div>
</div>

<!-- ... end Window-popup Edit Widget Blog Post -->



