@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
/* ------------- Reaction ----------------- */
.text-desc, [class*="reaction-"], .field-reactions, .field-reactions:checked:focus ~ .text-desc {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.field-reactions:focus ~ .text-desc, .box:hover [class*="reaction-"], .field-reactions:checked ~ [class*="reaction-"] {
  clip: auto;
  overflow: visible;
  opacity: 1;
}


[class*="reaction-"] {
  border: none;
  background-image: url('src/assets/img/facebook-reactions.png');
  background-color: transparent;
  display: block;
  cursor: pointer;
  height: 48px;
  position: absolute;
  width: 48px;
  z-index: 11;
  /* top: -28;*/
  transform-origin: 50% 100%;
  transform: scale(0.1);
  transition: all .3s;
  outline: none;
  will-change: transform;
  opacity: 1;
}

.user-msg:hover .box {
  display: inline-block;
}

.box {
  display: none;
  top: 0.35em;

  position: relative;
  margin-left: 3px;

}

.sender .box {
  float: right;
  margin-left: 0;
  margin-right: -9px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  visibility: hidden;
}

.field-reactions:focus ~ .label-reactions {
  border-color: rgba(88, 144, 255, 0.3);
}

.field-reactions:checked:focus ~ .label-reactions {
  border-color: transparent;
}

.label-reactions {

  border: 2px dotted transparent;
  display: block;
  margin: 0 auto;
  color: transparent;
  cursor: pointer;
}

.toolbox {
  background: #fff;
  height: 41px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 14em;
  border-radius: 40px;
  top: 7%;
  right: unset;
  left: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 1;
  transition: opacity .15s;
}

.sender .toolbox {
  left: unset;
  right: 91%;
}


.legend-reaction {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 20px;
  max-width: 100%;
  opacity: 0;
  overflow: hidden;
  padding: 0 6px;
  transition: opacity 50ms ease;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 42px;
  transform: translateX(-50%);
}

.box:hover [class*="reaction-"] {
  transform: scale(0.8) translateY(-40px);
}

.box:hover [class*="reaction-"]:hover, .box:hover [class*="reaction-"]:focus {
  transition: all .2s ease-in;
  transform: scale(1) translateY(-35px);
}

.box:hover [class*="reaction-"]:hover .legend-reaction, .box:hover [class*="reaction-"]:focus .legend-reaction {
  opacity: 1;
}

.box:hover .toolbox {
  opacity: 1;
}

.box:hover .toolbox {
  visibility: visible;
}

.box:hover .reaction-love {
  transition-delay: .06s;
}

.box:hover .reaction-haha {
  transition-delay: .09s;
}

.box:hover .reaction-wow {
  transition-delay: .12s;
}


.field-reactions:checked ~ [class*="reaction-"] {
  transform: scale(0.8) translateY(-40px);
}

.field-reactions:checked ~ [class*="reaction-"]:hover, .field-reactions:checked ~ [class*="reaction-"]:focus {
  transition: all .2s ease-in;
  transform: scale(1) translateY(-35px);
}

.field-reactions:checked ~ [class*="reaction-"]:hover .legend-reaction, .field-reactions:checked ~ [class*="reaction-"]:focus .legend-reaction {
  opacity: 1;
}

.field-reactions:checked ~ .toolbox {
  opacity: 1;
}

.field-reactions:checked ~ .toolbox,
.field-reactions:checked ~ .overlay {
  visibility: visible;
}

.field-reactions:checked ~ .reaction-love {
  transition-delay: .03s;
}

.field-reactions:checked ~ .reaction-haha {
  transition-delay: .09s;
}

.field-reactions:checked ~ .reaction-wow {
  transition-delay: .12s;
}


.sender .reaction-like {
  left: -182px;
  top: 27px;
  background-position: 0 -144px;
}

.reaction-like {
  left: 26px;
  top: 26px;
  background-position: 0 -144px;
}


.sender .reaction-love {
  background-position: -48px 0;
  left: -136px;
  top: 27px;
}

.reaction-love {
  background-position: -48px 0;
  left: 72px;
  top: 26px;
}

.sender .reaction-haha {
  background-position: -96px 0;
  left: -91px;
  top: 27px;
}

.reaction-haha {
  background-position: -96px 0;
  left: 118px;
  top: 26px;
}

.sender .reaction-wow {
  background-position: -144px 0;
  left: -43px;
  top: 27px;
}

.reaction-wow {
  background-position: -144px 0;
  left: 166px;
  top: 26px;
}

.user-reactions {
  padding: 2px;
  background: #fff;
  height: 2em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  width: auto;
  border-radius: 40px;
  position: absolute;
  opacity: 1;
  transition: opacity .15s;
  bottom: 1px;
  left: 51px;
}

.sender .user-reactions {
  right: 46px;
  left: unset;
}

.reaction {
  list-style-type: none;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}


.reaction .count-reaction {
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
}

.user-reactions .reaction {
  padding: 0;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-unset {
  margin-left: unset;
  margin-right: unset;

}


/* --------- Sondages récents DIV ------------- */
.sondage {
  overflow-y: scroll;
  max-height: 318px;
}

::-webkit-scrollbar {
  width: 7px;
}

/* ---- SCroll bar --- */
::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #adadad;
}

/* ----- Modal Reactions --------- */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


h1 {

  text-align: center;
}

a {
  /* color: #ccc;*/
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  width: 100%;
  margin: 0;
  position: relative;
}

.tab_container input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab_container label {
  border-bottom: 2px solid #f0f0f0;
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 16%;
  padding: 24px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}


#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;

  background: #fff;
  color: #999;

}

.padding-reaction {
  padding: 25px 3px 10px;
}

.tab-content {
  overflow-y: scroll;
  max-height: 300px;
}

.translate {
  background: white;
  transform: translate(22px, -14px);
  -webkit-box-shadow: 0 0px 0 2px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0px 0 2px rgba(255, 255, 255, 1);
  box-shadow: 0 0px 0 2px rgba(255, 255, 255, 1);

}

.width-95 {
  width: 95%;
}

.tab_container .tab-content ul,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.5s ease-in-out;
  -moz-animation: fadeInScale 0.5s ease-in-out;
  animation: fadeInScale 0.5s ease-in-out;
}

.tab_container .tab-content h3 {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  transition: all .3s;


  border-bottom: 3px solid #0CE;
  animation: mymove 0.8s

}

@keyframes mymove {
  from {
    border-bottom: 3px solid #f0f0f0;
  }
  to {
    border-bottom: 3px solid #0CE;
  }
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.no_wrap {
  text-align: center;
  color: #0ce;
}

.link {
  text-align: center;
}

.top-15 {
  top: 15%;
}


/* ------------- Sondage Modal ---------------- */
.title-2 {
  font-size: .875rem;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #515365;
}

.hover-orange:hover {
  color: #ff5e3a
}


/* --------- Parametres Jitsi ------------- */

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}


.button-cover, .knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 73px;
  height: 33px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r, .button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-left-100 {
  margin-left: 100px;
}

.margin-top-20 {
  margin-top: 19px;
}


/* Button 3 */
.button-3 .knobs:before {
  content: 'Non';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 25px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #F44336;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s;
}

.button-3 .checkbox:active + .knobs:before {
  width: 46px;
  border-radius: 100px;
}

.button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

.button-3 .checkbox:checked + .knobs:before {
  content: 'Oui';
  left: 42px;
  background-color: #03A9F4;

}

.button-3 .checkbox ~ .layer {
  background-color: #fcebeb;
}

.button-3 .checkbox:checked ~ .layer {
  background-color: #c9ebff;
}

/* ------------- Modal Sondages ---------------- */
.margin-b-0 {
  margin-bottom: 0;
}

.padding-sondage-title {
  padding-left: 42px;
}

.img-sondage {
  height: 32px;
  width: 32px;
}

.time-sondage {
  padding-left: 41px;
  position: relative;
}

/*  ------------ Messages ------------ */
.img-user {
  height: 32px;
  width: 32px;
}

.author-thumb .img-user {
  height: 36px;
  width: 36px;
}

.min-width-7 {
  min-width: 7%;

}

.padding-10 {
  padding: 10px;
}

.padding-0 {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.sender .ui-block {
  float: right;
  margin-right: 15px;
  margin-left: 0;


}

.user-msg .ui-block {
  margin-left: 20px;
  background-color: #fafafafa;
  width: 43%;
}

/*----- Modal Sondage ----*/
.blue-button {
  background-color: #08ddc1;
  border-color: #08ddc1;
  color: white;
}

.blue-button:hover {
  background-color: #4effe5;
  border-color: #4effe5;
}

.blue-button:disabled {
  background-color: #9a9fbf;
  border-color: #9a9fbf;
}

.blue-button:disabled:hover {
  background-color: #9a9fbf;
  border-color: #9a9fbf;
  cursor: not-allowed;
}


/*-------------- Scale up reaction ----------- */

.scale-up {
  -webkit-animation: 600ms ease 0s normal forwards 1 scale-up;
  animation: 600ms ease 0s normal forwards 1 scale-up;
}

@keyframes scale-up {
  0% {
    transform: scale(1.2);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

@-webkit-keyframes scale-up {
  0% {
    transform: scale(1.2);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

.blink {
  animation: blink-animation 300ms ease 0s 3 alternate;
}

@keyframes blink-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* --------- Loader ---------- */
.flexbox > div {
  left: 0;
  top: 0;
}

.flexbox > .jitsiLoader {
  left: 325px;
  top: 250px;
}

.mesh-loader .circle {
  background: #00c4aa;
}

/* -------- Photos Message ----------- */

.user-msg .added-photos .photo-chat {
  margin: -1em 0 0 1em;
  max-height: 35%;
  max-width: 35%;

}

.sender .added-photos .photo-chat {
  margin: -1em 0 0 0;
  float: right;

}

.sender .post-video {
  float: right;
}

.uploaded-photo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px 20px 0 0;
}

.width-55 {
  width: 55%;
}

.padding-upload-photo {
  padding: 25px 50px 16px 50px;
}











